@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в BIBBO!</h1>
    <img src="~/Img/IconB.png" />
    <p>Мы лучший анонимный почтовый клиент!</p>
</div>
