@{
    ViewData["Title"] = "Пользовательское соглашение";
}
<h1>@ViewData["Title"]</h1>

<p>
    Bibbo обязуется защищать вашу конфиденциальность. Мы будем использовать только ту информацию, которую мы собираем на законных основаниях в соответствии с Общим регламентом защиты данных (GDPR) (Регламент (ЕС) 2016/679).
    <br />
    <br />
    Информация хранится на вашей обычной электронной почте долгие годы. Это может быть подвержено взлому или утеряно из-за сбоя в обслуживании.
    <br />
    <br />
    Использование временной почты позволяет полностью защитить ваш настоящий почтовый ящик от потери личной информации. Ваш временный адрес электронной почты полностью анонимен. Ваши данные: информация о вас и пользователях, с которыми вы общаетесь, IP-адрес, адрес электронной почты защищены и полностью конфиденциальны.
    <br />
    <br />
    Bibbo не хранит ваш IP-адрес. Это означает, что вы надежно защищены от всех несанкционированных действий, которые могут поставить под угрозу вашу информацию и поставить под угрозу вашу конфиденциальность. Все электронные письма и данные, временно хранящиеся в нашем сервисе, удаляются безвозвратно.
    <br />
    <br />
    Ваша конфиденциальность является для нас наивысшим приоритетом. Вам не нужно беспокоиться о своих данных. Обеспечим полную защиту. Доступ к вашим данным будет предоставлен только вам лично и только в течение срока действия временного адреса электронной почты.
</p>
